<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="jumbotron">
            <h2>The converted images </h2>
            <div class="text-right">
                <a href="/" class="btn btn-large btn-success ">Go to Upload Page</a>
            </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="container  ">
                <%  for(var i=0; i<files.length; i++){ %>
                    <div class="row text-center justify-content-center align-items-center">
                        <div class="" style="margin : 0 auto">
                            <img src="<%= files[i].filepath%>" >
                            <h4> <%= files[i].size %> </h4>
                        </div>
                    </div>
                 <% } %>
            </div>
        </div>
    </div>
</body>

</html>